header {
  background-color: #ffffff;
}
body {
  background-color: #c4c4c4;
}
footer {
  background-color: #ffffff;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 288px;
  height: 300px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}
.card__title {
  color: #282828;
  font-size: 14px;
}
.card__description {
  color: #282828;
  font-size: 12px;
}
.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 1px;
}

@media (max-width: 768px) {
  .card__title {
    color: #282828;
    font-size: 12px;
  }
  .card__description {
    color: #282828;
    font-size: 10px;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 320px) {
  .card__title {
    color: #282828;
    font-size: 10px;
  }
  .card__description {
    display: none;
    color: #282828;
    font-size: 8px;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
